.masters {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $bg-color;

  &-content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &-btn {
    max-width: 220px;
    padding: 15px 55px;
    margin-top: 25px;
  }

  & .block-image {
    width: auto;
    height: auto;
  }
}