.services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(14, 14, 15, 0.94);
  position: relative;

  &-content {
    display: flex;
    justify-content: center;
  }

  &-btn {
    margin: 10px 0px 70px;
  }
}